// variables
$colors: (
    title: cornflowerblue,
    primary: #06ccbb,
    primary-light: lighten(#06ccbb, 27%),
    primary-dark: darken(#06ccbb, 27%),
    accent: #D6C0C9,
    accent-light: lighten(#c3ffbb, 27%),
    accent-dark: darken(#c3ffbb, 27%),
    form-primary: #42CAC7,
    form-secondary: lighten(#42CAC7, 30%),
    form-light: #9e9e9e,
    error: #ff2d26,

);

$borders: 15px;
$padding: 15px;
$desktop: 1024px;
$sslandscape: 812px;
$smallscreen: 320px;
$midscreen: 768px;
$progress-height: 10px;

// color mapping function 
@function color($color-name) {
    @return map-get($colors ,$color-name);
}
